<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
  <link rel="stylesheet" href="static/home.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet'>
</head>
<body background="static/img/background.png">
<section class="con">
    <div class="container" >
    <h1>Classification and Visualization of E-Commerce Product Reviews Comparison Using Support Vector Machine</h1><br>
    <a href="/track"><button type="submit">Start Track Product</button></a>
  </div>
</section>
</body>
</html>